.header {
    height: 75vh;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    position: relative;

    &::before {
        content: '';
        width: 40%;
        height: 55%;
        background-color: $soft-blue;
        position: absolute;
        right: 0;
        bottom: 10%;
        z-index: -2;
        border-radius: 15rem 0 0 15rem;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }

    &__left {
        animation: moveInLeft 1s ease;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 500;
        color: $very-dark-blue;
    }

    &__p {
        font-size: 1.5rem;
        margin: 2.5rem 0;
    }

    &__btns {
        display: flex;
        gap: 1.5rem;

        .btn-gray {
            color: $very-dark-blue;
            background-color: rgba($grayish-blue, 0.2);
            font-size: 1.2rem;

            &:hover {
                background-color: transparent;
                border-color: $very-dark-blue;
            }
        }
    }

    &__right {
        animation: moveInRight 1s ease;
    }
}