// COLORS

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);


// container width
$container-width-lg: 85%;
$container-width-md: 90%;
$container-width-sm: 94%;